@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*Mobile Inicio*/

/*Header Inicio*/

header {
    height: 505px;
    background: url("../img/header_background_mobile.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 24px;
}

header h1 {
    width: 278px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
}

header p {
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 24px;
    margin-top: 24px;
}

.header__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header__button__win, .header__button__nav {
    width: 90vw;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 28px;
    text-decoration: none;
}

.header__button__win {
    color: #23272A;
    background-color: #FFFFFF;  
}

.header__button__nav {
    color: #FFFFFF;
    background-color: #23272A;
}

/*Header Fim*/

/*Main Inicio*/

.container {
    height: 482px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 24px;
}

.container:nth-child(even) {
    background-color: #F6F6F6;
}

.container:last-child h2{
    color: #23272a;
    font-family: Luckiest Guy;
    font-size: 2rem;
    text-transform: uppercase;
}

.container__img {
    width: 350px;
    height: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h2 {
    width: 350px;
    color: #23272a;
    font-family: Open Sans;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 27px 0;
}

.container p {
    width: 350px;
    color: #23272a;
    font-size: 0.875rem;
    font-family: Open Sans;
}

/*Main Fim*/

/*Footer Inicio*/

footer {
    height: 140px;
    background-color: #23272A;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 162px;
    height: 45px;
}

/*Footer Fim*/

/*Mobile Fim*/

/*Laptop/Desktop Inicio*/

@media screen and(min-width: 1024px) {
    
    header {
       
        background: url("../img/header_background.png");
        background-size: cover;
        
    }
    
}

/*Laptop/Desktop Fim*/